.md-typeset .admonition.addedin,
.md-typeset details.addedin
{
    border-color: rgb(68, 204, 17);
}
.md-typeset .addedin > .admonition-title,
.md-typeset .addedin > summary
{
    background-color: rgba(68, 204, 17, 0.1);
}
.md-typeset .addedin > .admonition-title::before,
.md-typeset .addedin > summary::before
{
    background-color: rgb(68, 204, 17);
    padding-inline: 0.75rem 0.75rem;
}
.md-typeset .addedin > .admonition-title img,
.md-typeset .addedin > summary img
{
    vertical-align: middle
}
.md-typeset .addedin > .admonition-title::before,
.md-typeset .addedin > summary::before
{
    width:  0;
    height: 0;
    inset-inline-start: 0;
    content: none;
    -webkit-mask-image: none;
            mask-image: none;
}

.md-typeset .admonition.changedin,
.md-typeset details.changedin
{
    border-color: rgb(223, 179, 23);
}
.md-typeset .changedin > .admonition-title,
.md-typeset .changedin > summary
{
    background-color: rgba(223, 179, 23, 0.1);
    padding-inline: 0.75rem 0.75rem;
}
.md-typeset .changedin > .admonition-title::before,
.md-typeset .changedin > summary::before
{
    background-color: rgb(253, 248, 230);
}
.md-typeset .changedin > .admonition-title img,
.md-typeset .changedin > summary img
{
    vertical-align: middle
}
.md-typeset .changedin > .admonition-title::before,
.md-typeset .changedin > summary::before
{
    width:  0;
    height: 0;
    inset-inline-start: 0;
    content: none;
    -webkit-mask-image: none;
            mask-image: none;
}
